// @import url('https://fonts.googleapis.com/css?family=Raleway');

/************************************
    Debuging
************************************/

.scroll-info {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
}


/************************************
    Page setting
************************************/

.full-screen {
  height: 200px;
  max-width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  overflow-x: hidden;
  /*font-family: 'Roboto', sans-serif;*/
  /*font-family: 'Raleway', sans-serif;*/
  /*font-family: 'Dosis', sans-serif;*/
  /*font-family: 'Nunito', sans-serif;*/
  /*font-family: 'Quicksand', sans-serif;*/
  /*font-family: 'Muli', sans-serif;*/
  font-family: 'Lato', sans-serif;

}


/************************************
    General setting
************************************/

h1 {
  font-size: 3vmax;
}

.scene {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background: transparent center no-repeat;*/
  background-size: cover;
  z-index: -1000;
}
.scene h1{
    position: absolute;
  top: 7vh;
  left: 5vw;
  /*font-family: 'Raleway', sans-serif;*/
}

/************************************
    Nav bar
************************************/

// .cover-nav{
//   position: absolute;
//   right: 2vw;
//   top: 2vh;
//   z-index: 1000;
// }
// .nav a{  
//     font-weight: 400;
//     color: #66a5ad;
// }
// .nav a:hover{
//     background-color: rgba(0, 0, 0, 0.1);
// }
// .active{
//     background: rgba(0, 0, 0, 0.1);
//     box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
//     font-weight: bold;
//     color: black;
// }
app-nav  nav.navbar{
  z-index: 10000;
}

/************************************
    Progress bar
************************************/

#progress-bar {
  position: fixed;
  height: 5vh;
  /*background: #444;*/
  bottom: 0;
  z-index: 9000;
  margin: 0;
}

#progress-items-container {
  position: fixed;
  font-size: 3vmin;
  height: 5vh;
  bottom: 0;
  width: 100%;
  z-index: 9900;
  margin: 0 auto;
  padding: 0;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  /*border: 1px solid black;*/
}

.progress-item {
  text-align: center;
  padding: 0;
  margin: 0;
  width: 19vw;
  text-shadow: 1px 1px 2px gray;
  /*border: 1px solid black;*/
  display: inline-block;
}


/************************************
    Intro
************************************/

.img-scene {
  top: 0;
  left: 0;
  width: 130vw;
  height: 100vh;
  /*background: transparent center no-repeat;*/
  /*background-size: cover;*/
  z-index: -1000;
  
}

#aboutme {
  background-image: url("/assets/img/NUI_9506-nome2.jpg");
  /*left: -30vw;*/
  /*width: 150vmax;*/
  /*background-image:url('../images/bg.png');*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
.white{
  background-color: white;
  background: -webkit-radial-gradient(white, #e5e5e5); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(white, #e5e5e5); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(white, #e5e5e5); /* For Firefox 3.6 to 15 */
  background: radial-gradient(white, #e5e5e5); /* Standard syntax */
  
}
/*#me-png {
  background: url("/assets/img/NUI_9506.png");
  left: -40vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}*/
#me-png{
  position: fixed;
  bottom: -7vh;
  left: 15vw;;
  height: 45vmax;
  z-index: 100;
  display: none;
}

.intro-content {
  width: 35vw;
  height: 30vmax;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  /*border: 1px solid gray;*/
}

#intro h1 {
  position: relative;
  /*border: 1px solid gray;*/
  font-size: 10vw;
  font-weight: 900; 
  opacity: 0;
  /*color: #333333;*/
  font-family: 'Roboto', sans-serif;
}
#txt2{
  display: none;
  opacity: 0;
}
#advice {
  font-size: 1vw;
  /*border: 1px solid gray;*/
  position: relative;
  text-align: center;
}

#myName {
  position: absolute;
  right: 2vmax;
  padding-top: 0.5vmax;
  width: 42vw;
  z-index: 100;
  text-align: right;
  font-weight: 100;
  /*font-family: 'Open Sans', sans-serif;*/
  /*background: rgba(0,0,0,0.1);*/
}

#myName>* {
  position: relative;
  padding-right: 2vw;
  font-size: 2vw;
}

#myName a {
  color: white;
   z-index: 10000 !important;

}
#myName h3,h4{
  font-weight: 300;
}


/************************************
    Skills
************************************/

.scene.skill {
  text-align: center;
   background-color: #e4ea8c;
}

#laptop {
  width: 20vw;
  position: fixed;
  top: -2vmax;
  right: -2vmax;
  -ms-transform: rotate(30deg);
  /* IE 9 */
  -webkit-transform: rotate(30deg);
  /* Chrome, Safari, Opera */
  transform: rotate(30deg);
}

#doc{
    width: 10vw;
  position: fixed;
  top: -5%;
  right: -8%;
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -webkit-transform: rotate(-45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
}

.skill-container {
  display: flex;
  top: 15vh;
  left: 4.5vw;
  width: 90vw;
  color: white;
  /*background: gold;*/
}

.skill-box {
  width: 30vw;
  padding: 10px;
  text-align: left;
}

.fontend,
.backend,
.knowledge {
  padding: 5px;
  /*border: 1px solid;*/
  background: #3f6c45;
}

.skill-header {
  text-align: left;
  font-weight: 600;
}

.skill-header h3 {
  font-size: 2.5vmax;
  font-weight: 300;
}

.skill-level {
  display: flex;
  margin-bottom: 8px;
}

.skill-level>div {
  width: 50%;
  /*border: 1px solid;*/
  font-size: 50%;
}

.level-l {
  text-align: left;
}

.level-r {
  text-align: right;
}

.skill-box h6 {
  font-size: 1vw;
}

.skill-bar {
  /*position: relative;*/
  width: 100%;
  height: 5px;
  margin-top: -5px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  /*border: 1px solid gray;*/
  font-size: 60%;
}

.percent {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: white;
  height: 5px;
  /*border: 1px solid gray;*/
}

  #drawing{
    position: absolute;
    bottom: 4vh;
    right: 1vw;
    width: 30vw;
    height: 30vh;
    transform: scale(2,2);
  }

  .svgTxt1{
    font-size: 150%;
  }

/************************************
    Work
************************************/
.scene.work{
  background-color: skyblue;
}
.work-container{
 position: fixed;
 top: -5vh;
 left: 0;
 right: 0;
 bottom: 0;
 margin: auto;
 width: 60vw;
 height: 60vh;
 font-size: 1.1vmax;
 /*border: 1px solid;*/
 z-index: 100;
}


.mvp{
  position: relative;
  margin-bottom: 2%;
}
.reuters{
  position: relative;
}
.work-box{
  position: relative;
  display: inline-flex;
  padding: 3% 2% 1% 0;
  border-radius: 3px;
  background: whitesmoke;
  width: 100%;
  /*box-shadow: 2px 3px 8px gray;*/
  /*border: solid 1px;*/
}
.work-des{
  width: 80%;
}
.work-des p{
  font-size: 80%;
}
.work-logo{
  width: 20%;
  text-align: center;
    /*border: solid 1px;*/
}
.work-logo img{
  max-width: 70%;
  max-height: 70%;
}

#gradCap{
  position: fixed;
  top: 5vh;
  left: -10vw;
  width: 20vh;
}
.work-date{
  font-size: .8vmax;
}

/************************************
    Education
************************************/
.scene.education {
  background-color: #f9f9ff;
} 
.edu-container{
 position: absolute;
 top: -5vh;
 left: 0;
 right: 0;
 bottom: 0;
 margin: auto;
 width: 60vw;
 height: 60vh;
 font-size: 1.1vmax;
 /*border: 1px solid;*/
}
.edu-box{
  position: relative;
  display: inline-flex;
  padding: 3% 2% 1% 0;
  border-radius: 3px;
  width: 100%;
  /*background: whitesmoke;*/
  /*box-shadow: 2px 3px 8px gray;*/
  /*border: solid 1px;*/
}


.edu-box .edu-des{
  position: relative;
  width: 80%;
  padding: 0 10px;
  /*border: 1px solid gray;*/
}
.edu-box .edu-logo{
  width: 20%;
text-align: center;
  /*border: 1px solid gray;*/
}
.edu-logo img{
  max-width: 70%;
  max-height: 70%;
} 

.edu-des li{
  font-size: 80%;
}

#edu-dec{
  position: absolute;
  bottom: 2vh;
  right: 0;
}

/************************************
    connect
************************************/

.scene.connect {
  background: #c5beba; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #e4e3db, #c5beba); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #e4e3db, #c5beba); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #e4e3db, #c5beba); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #e4e3db, #c5beba); /* Standard syntax */
  color: #113743;
}
.scene.connect h1{
  font-weight: 200;
}
.scene.connect h2{
  font-weight: 200;
  font-size: 2.2vmax;
  z-index: 200;
}
#cloudbg{
  position: fixed;
  bottom: -20%;
  left: 0;
  display:none;
  z-index: 100;
}
#airplane-sm{
  position: fixed;
  top: 30vmax;
  left: -25vmax;
  width: 25vmax;
}
#airplane{
  position: fixed;
  top: -30vmax;
  left: -150vmax;
  width: 150vmax;
}
#chch{
  position: fixed;
  bottom: 5%;
  left:0;
   z-index: 100;
   color:#113743;
}
#well-travel{
  color: inherit;
}

/************************************
    footer
************************************/
.scene-footer {
  background: #004445; /* For browsers that do not support gradients */
  /*background: -webkit-linear-gradient(left top, #006666, #004445);  For Safari 5.1 to 6.0 */
  /*background: -o-linear-gradient(bottom right, #006666, #004445);  For Opera 11.1 to 12.0 */
  /*background: -moz-linear-gradient(bottom right, #006666, #004445);  For Firefox 3.6 to 15 */
  /*background: linear-gradient(to bottom right, #006666, #004445);  Standard syntax */
  background: -webkit-radial-gradient(#006666, #004445); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#006666, #004445); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#006666, #004445); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#006666, #004445); /* Standard syntax */
  
  color: whitesmoke;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  background-size: cover;
  font-size: 1.5vmax;
  font-weight: 200;
}
.footer-container{
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 margin: auto;
 width: 75vw;
 padding:2% 0% 2.5% 8%;
 /*background: gold;*/
 /*border-top: 1px solid;*/
}
.footer-container a{
  text-decoration: none;
  text-decoration-style: none;
  color: inherit;
}
.footer-container a:hover{
  color: gray;
}

.footer-container h1{
  font-weight: 100;
  padding-bottom: 1.5%;
}
.footer-container h5{
  font-weight: 100;
  font-size: 1.5vmax;
}
.ft-github{
  position: relative;
  padding-top:10px;
}



/*
 * This file is NOT needed in order to use skrollr.
 * The demo uses it and it may help you as well.
 */

.skrollable {
  /*
	 * First-level skrollables are positioned relative to window
	 */
  position: fixed;
  /*
	 * Skrollables by default have a z-index of 100 in order to make it easy to position elements in front/back without changing each skrollable
	 */
  z-index: 100;
}

.skrollr-mobile .skrollable {
  /*
		May cause issues on Android default browser (see #331 on GitHub).
	*/
  position: absolute;
}

.skrollable .skrollable {
  /*
	 * Second-level skrollables are positioned relative their parent skrollable
	 */
  position: absolute;
}

.skrollable .skrollable .skrollable {
  /*
	 * Third-level (and below) skrollables are positioned static
	 */
  position: static;
}


/************************************
    Screen breakpoint
************************************/


@media (max-width: 1024px) {

}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* STYLES GO HERE */

}

@media (max-width: 768px) {
  /* progress bar */
  .progress-item {
    width: 18.5vw;
    padding-top: 5px;
  }

/* nav bar */
/* .cover-nav{
  display: none;
} */

  /* about me */
   #me-png{
  bottom: -7vh;
  left: 10vw;;
  height: 55vmax;
 
}
.intro-content {
  width: 50vw;
}

  #intro h1 {
    font-size: 14vw;
  }
  #advice {
    padding-top: 3vmin;
    font-size: 1.7vw;
  }
  #myName {
    width: 60vw;
    /*border: 1px solid;*/
  }
  #myName>* {
    margin-right: -5vw;
    font-size: 3vw;
  }
  /* skill */
  .skill-container {
    top: 13vh;
  }
  .scene h1 {
    top: 2.5vh;
    left: 7vw;
    font-size: 6vw;
  }
   .scene h2 {
    font-size: 6vw;
  }
  .skill-box h6 {
    font-size: 2vw;
  }
  #doc{
    width: 15vw;
    top: 40%;
  }

  #drawing{
    position: absolute;
    bottom: 1vh;
    right: 1vw;
    width: 40vw;
    height: 40vh;
    transform: scale(2,2);
  }

  /* Work */
  .work-container, .edu-container{
    top: -18vmax;
    width: 90vw;
    font-size: 55%;
  }
  .work-des, .edu-des{
    padding-left: 10px;
  }
   .work-des h5{
          font-size: 140%;
   }
   .work-des h6{
          font-size: 130%;
   }
   .work-des p{
     font-size: 100%;
   }
   
 

  .work-logo img,.edu-logo img {
    max-width: 100%;
    max-height: 100%;
    min-width: 0;
    min-height: 0;
  }

  /* Education also share with work style above */
  .edu-des h5{
      font-size: 140%;
   }
   .edu-des h6{
      font-size: 110%;
      font-weight: bold;
   }
  .edu-des li{
  font-size: 100%;
}


/* connect */
.scene.connect h2{
  font-size: 5vw;
}
#cloudbg{
  bottom: 0vmax;
  width:110%;
}
#airplane-sm{
  position: fixed;
  top: 70vmax;
  left: -25vmax;
  width: 25vmax;
}
#airplane{
  top: -40vmax;
  left: -250vmax;
  width: 250vmax;
}


/* footer */
.footer-container{

 width: 100%;
 padding:3% 6%;
  font-size: 1.4vmax;
  /*border: 1px solid;*/
}
.footer-container h2{
  font-size: 2.2vmax;
  font-weight: bold;
} 
.footer-container h5{
  font-size: 1.6vmax;;
  margin-bottom:3px;
}
.ft1{
  margin-bottom: 3%;
}

}

@media (min-width: 1300px) {
  .skill-container {
    left: 9.5vw;
    width: 80vw;
  }
}
