/* You can add global styles to this file, and also import other style files */

/* font */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,900');
/* using in cv-cover */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
/* 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200');
/* font-family: 'Source Sans Pro', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');
/* using in blog, cv */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');
/* font-family: 'Noto Sans', sans-serif; */
/* @import url('https://fonts.googleapis.com/css?family=Francois+One'); */
/* font-family: 'Francois One', sans-serif; */

@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');


html, body {
  margin: 0;
  padding: 0;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}



