<app-nav></app-nav>
<div class="cv-container container">



  <div class="wrapper">




    <h1 class="cv">Resume</h1>


    <aside>
      <header>

      </header>
      <section>
        <h3>Contact</h3>
        <p>Hendon St, Christchurch</p>
        <p><a href="mailto:contact@nuirattapon.com">contact@nuirattapon.com</a>
          <p><a href="tel:+6421898539">(+64) 021 189 8539</a>

            <p class="d-print-none">
              <a href="https://linkedin.com/in/nui-tech" target="_blank">LinkedIn</a>
            </p>
            <p class="d-none d-print-block">
              linkedin.com/in/nui-tech
            </p>
            <p class="d-print-none">
              <a href="https://github.com/nui-tech" target="_blank">Github</a>
            </p>
            <p class="d-none d-print-block">
              github.com/nui-tech
            </p>
            <!-- <p><a [routerLink]="['/cover']">View cover</a></p> -->
            <p><a [routerLink]="['/']" id="weblink">nuirattapon.com</a></p>
            <p><a href="javascript:window.print()"><i><small>printing friendly page</small></i></a></p>

      </section>

    </aside>


    <article>

      <section class="name">
        <h1 class="myname">Nui Rattapon - Web Developer</h1>
        <p class="self-intro">An IT passionate, front-end experienced. Currently, focusing on developing a client-side application with Angular. Excited and love to learn new technologies.<br>
        </p>
      </section>



      <section class="experience-list">


        <h2>Experience</h2>

        <section class="exp-item i1">
        
          <header>
            <h4><a target="_blank" href="http://maker.co.nz">Maker Design Limited, Christchurch</a></h4>
            <span class="date">Oct/2017 - Present</span>
            <h5>Web developer</h5>
          </header>
        
        
          <main>
            <b>Responses:</b> Develope web sites, web apps and maintaining multiple projects from static, CMS, single-page app sites to mobile apps.
            <br><b>Main technologies</b>: Angular, Wordpress, Silverstripe, Xamarin, ReactJS
            <br><b>Responses:</b>
            <ul>
              <li>Design and develop websites/web applications.</li>
              <li>Project maintenance and supports </li>
              <li>Corporate and communicate with client/remote team.</li>
              <li>Interaction design, creating process flows, wireframes, and prototypes to effectively conceptualize and communicate detailed interaction behaviours.</li>
            </ul>
        
          </main>
        
        </section>

        <section class="exp-item i1">

          <header>
            <h4><a target="_blank" href="http://www.mvpstudio.co.nz/">MVP Studio, Auckland</a></h4>
            <span class="date">Feb/2017 - Oct/2017</span>
            <h5>Intern Web developer</h5>
          </header>


          <main>
            <b>Project</b>: Alex Swift Emergency Contact (development
            state)
            <br><b>Environment</b>: Agile & Scrum
            <br><b>Main technologies</b>: C# Asp.Net MVC, AngularJS, MsSQL, UI-Bootstrap

            <br><b>Responses:</b>
            <ul>
              <li>Development of back-end Windows Service.</li>
              <li>Redesign account and profile page. </li>
              <li>Refactor site's layout and site's css file structure. </li>
              <li>Demo's day presenter team.</li>
            </ul>
            <b>Award</b>: Best performance of May 2017
          </main>

        </section>

        <section class="exp-item">

          <header>
            <h4><a target="_blank" href="https://www.thomsonreuters.com">Thomson Reuters, Bangkok</a></h4>
            <span class="date">Aug/2012 - Feb/2013</span>
            <h5>Software Engineer (Internship)</h5>
          </header>

          <main>
            <b>Project</b>: End-End automate testing framework
            <br><b>Product</b>:
            <a target="_blank" href="https://financial.thomsonreuters.com/en/products/tools-applications/trading-investment-tools/eikon-trading-software.html">EIKON</a>
            <br><b>Environment</b>: Agile & Scrum
            <br><b>Main technologies</b>: C# .Net, Selenium, NUnit, XML, HTML
            <br><b>Responses:</b>
            <ul>
              <li>Developed automated testing framework utilising Selenium2 for Continuous Integration(CI) pipeline.</li>
              <li>Developed test report generator tool</li>
            </ul>
          </main>

        </section>




      </section>


      <section class="skills">
        <h2>Skills</h2>

        <div class="skill-set">


          <ul class="skill-list">
            <h6>Font-End</h6>
            <li>Angular 2/JS</li>
            <li>HTML/CSS</li>
            <li>TypeScript</li>
            <li>Javascript</li>
            <li>jQuery</li>
            <li>Bootstrap</li>
            <li>GSAP/Skrollr</li>
            <li>Photoshop</li>
          </ul>

          <ul class="skill-list">
            <h6>Back-End</h6>
            <li>C#</li>
            <li>ASP.NET MVC</li>
            <li>Microsoft SQL</li>
            <li>LINQ</li>
            <li>Windows Service</li>
            <li>AZURE</li>
            <li>Firebase</li>

          </ul>

          <ul class="skill-list">
            <h6>Others</h6>
            <li>HTTP/RESTful</li>
            <li>Human computer interaction</li>
            <li>Responsive web design</li>
            <li>Scrum/Agile methodologies</li>
            <li>Object-oriented programming</li>

          </ul>


        </div>

        <ul class="horizontal-list">
          <li><strong>Old:</strong></li>
          <li>C</li>
          <li>Java</li>
          <li>Matlab</li>
          <li>Selenium</li>
          <li>NUnit</li>
        </ul>




      </section>

      <section class="education">
        <h2>Education</h2>

        <main class="kku">
          <h5>B.Sc. in Computer Science - <small>Khon Kaen University 2009 - 2013</small></h5>
          <p><a href="https://www.immigration.govt.nz/opsmanual/41506.htm" target="_blank">
           <small>A recognised international university assessed by New Zealand Qualifications Authority (NZQA)</small></a></p>
        </main>
      </section>

      <section class="certification">
        <header>
          <h2>Certification</h2>
        </header>

        <main class="mta">
          <!-- <header class="pull-left">
            <a href="https://www.youracclaim.com/badges/85a83b7b-9662-4c42-9cf9-7c5fa54bccad" target="_blank">
              <img class="" src="https://acclaim-production-app.s3.amazonaws.com/images/3e7d7490-cb15-48a9-a238-963b078b2992/MTA%2BHTML5%2BApplication%2BDevelopment%2BFundamentals%2B2017-01.png"
              alt="Microsoft Technology Associate">
            </a>
          </header> -->

          <div>
            <h6><a href="https://www.youracclaim.com/badges/85a83b7b-9662-4c42-9cf9-7c5fa54bccad">MTA: HTML5 Application Development Fundamentals</a> - <small>Certified 2017</small></h6>
            <p>
              <small>
                Issue by <a href="https://www.youracclaim.com/org/microsoft-certification" target="_blank">Microsoft</a>
                on 25 Aug 2017
              </small>
            </p>
          </div>



        </main>

      </section>

      <section class="ref">
        <header>
          <h2>References</h2>
        </header>

        <main>
          <p>Available upon request.</p>
        </main>

      </section>

    </article>




  </div>

</div>
